.about{
    display: flex;
    height: 90vh;

    .left{
        flex: 0.5;
        width: 85vh;
        height: 85vh;
        margin-left: 10%;
        margin-right: 5%;

        .title{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            margin-top: 10%;
            font-size: 50px;
        }

        .wrapper{  
            
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            margin-top: 15%;
            
            h1{
                font-size: 100px;
                margin: 10px 0;
                color: white;
            }
            h2{
                font-size: 45px;
                margin: 20px;
                color: grey;
            }
            h3{
                font-size: 25px;
                color: grey;
                margin: 20px;
            }
        }
    }
    .right{
        flex: 0.5;
        margin: auto;
        display: flex;
        width: 50vh;
        margin-right: 30%;
        margin-top: 7%;
        justify-content: center;

        .imgContainer{
            margin-left: 20%;
            justify-content: center;
        }
    }
}