.about{
    height: calc(100vh - 100px - 80px);

    .top{
        margin-left: 15%;
        vertical-align: middle;
        margin-top: 3%;

        .title{
            width: 100%;
            font-size: 60px;
            
        }
    }
    @media screen and (max-width: 600px) {
        .top{
            display: flex;
            flex-flow: wrap;
            flex-direction: column-reverse;
            justify-content: center;

            .title {
                justify-content: center;
            }
        }
    }

   
    .bottom{
        display: flex;
        flex-direction: row;

        .left{
            margin-top: 5%;
            flex: 0.5;
            margin-left: 10%;
            margin-right: 10%;
            .wrapper{          
                width: 100%;
                justify-content: center;
                text-align: center;
                
                h3{
                    font-size: 25px;
                    color: black;
                    margin: 70px;
                }
            }
        }

        .right{
            flex: 0.5;
            display: flex;
            justify-content: center;
            margin-right: 10%;
    
            .imgContainer{
                justify-content: center;
                
            }
        }
    }
    @media screen and (max-width: 600px) {
        .bottom{
            flex-flow: wrap;
            flex-direction: column-reverse;

            .right {
                display: flex;
                justify-content: center;
                margin-left: 10%;
            }
        }
    }
}