.contact{
    background-color: lightslategray;
    height: 90vh;
    display: flex;

    .left{
        flex: 0.5;

        .title{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 10%;
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 5%;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex-direction: column;
            font-size: 30px;
            font-weight: 600;
            margin-top: 20%;

            .location{
                padding: 20px;
            }

            .linkedin {
                padding: 20px;
                a{
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    background-color: white;
                }
            }

            .insta {
                padding: 20px;
                a{
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    background-color: white;
                }
            }
        }
        
    }

    .right{
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;

        h2{
            font-size: 40px;
            padding-right: 15%;
        }

        form{
            width: 80%;
            height: 40%;
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding-right: 15%;

            input{
                width: 400px;
                height: 40px;
                font-size: 14px;
            }

            textarea{
                width: 400px;
                height: 250px;
                font-size: 14px;
            }

            button{
                width: 200px;
                height: 40px;
                color: whitesmoke;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
            }
        }

    }
}