.navbar {
  /* background: rgba(99, 115, 115, 1);
  height: 50px; */
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin:-20px;
  overflow: scroll;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.navbar-logo {
  color: rgba(255, 234, 219, 1);
  letter-spacing: 0.5px;
  margin-left: 3rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 3rem;
}

.nav-item {
  margin-right: ;
}

.nav-links {
  color: rgba(255, 234, 219, 1);
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
}

.nav-links:hover {
  color: rgba(255, 154, 118, 1);
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  color: rgba(255, 234, 219, 1);
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(99, 115, 115, 1);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: table;
    font-size: xx-large;
  }

  .nav-links:hover {
    background-color: rgba(255, 234, 219, 1);
    border: none
  }

  .navbar-logo {
    position: absolute;
    top: 22px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}