.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    
    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 60px;

        .left{
            display: flex;
            align-items: center;
            font-size: 20px;
            column-gap: 20px;
            justify-content: space-between;

        }

        .right{
            .wrapper{
                h3{
                    font-size: 20px;
                    justify-content: center;
                    text-decoration: none;
                    
                    
                    a{
                        text-decoration: none;
                        padding-inline: 20px;
                    }
                }
            }
        }
    }
}