* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(99, 115, 115, 1);
}

.pages {
  color: rgba(103, 155, 155, 1);
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }

::-webkit-scrollbar {
width: 0px;
}